<div style="width: 25rem">
    <MudButtonGroup Color="Color.Primary" Variant="MudBlazor.Variant.Outlined" Size="Size.Small">
        <MudIconButton Icon="@Icons.Material.Filled.SpaceDashboard"></MudIconButton>

        <MudButton>@_buttonText</MudButton>
        <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">

            <MudMenuItem OnClick="() => SetButtonText(_buttonTextOwner, _userState.Id)">Vous</MudMenuItem>

            @foreach (var dashboard in Dashboards)
            {
                <MudMenuItem OnClick="() => SetButtonText(dashboard.UserName, dashboard.UserId)">
                    @dashboard.UserEmail
                </MudMenuItem>
            }

        </MudMenu>
    </MudButtonGroup>
</div>
