@inherits ComponentBase

<MudText Typo="Typo.h6">
    @(IsEditMode ? "Modifier un événement" : "Ajouter un événement")
</MudText>

<MudTextField 
    Label="Titre"
    @bind-Value="model.Text"
    Style="margin-bottom: 0.5rem"/>

<MudGrid>
    <MudItem xs="6">
        <MudDatePicker 
            Label="Début (Date)" 
            @bind-Date="tempStartDate" />
    </MudItem>
    <MudItem xs="6">
        <MudTimePicker
            Label="Début (Heure)"
            @bind-Time="tempStartTime"
            MinuteSelectionStep="5"
            AnchorOrigin="Origin.BottomRight"
            TransformOrigin="Origin.TopRight" />
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="6" Style="margin-top: 0.5rem" >
        <MudDatePicker 
            Label="Fin (Date)" 
            @bind-Date="tempEndDate" />
    </MudItem>
    <MudItem xs="6" Style="margin-top: 0.5rem">
        <MudTimePicker 
            Label="Fin (Heure)" 
            @bind-Time="tempEndTime"
            MinuteSelectionStep="5"
            AnchorOrigin="Origin.BottomRight"
            TransformOrigin="Origin.TopRight" />
    </MudItem>
</MudGrid>

<MudCheckBox
    @bind-Value="_recurring"
    Color="Color.Primary"
    Style="padding: 0 !important;
           margin-top: 0.5rem;">
    <span style="padding-left: 0.5rem">
        Planifier chaque semaine ?
    </span>
</MudCheckBox>

<div style="display: flex; align-items: center; gap: 1rem;">
    <div style=@($"width: 4rem; height: 2rem; background-color: {_colorValue}; border-radius: 4px; border: 1px solid #ccc;")></div>

    <MudColorPicker Label="Choisir une couleur"
                    Style="@($"color: {_colorValue};")"
                    @bind-Text="_colorValue"
                    ShowAlpha="false"
                    ShowPreview="false"
                    ShowModeSwitch="false"
                    ShowColorField="false"
                    ColorPickerMode="ColorPickerMode.HEX"
                    AnchorOrigin="Origin.BottomRight"
                    Margin="Margin.Normal" />
</div>


<MudStack Row Spacing="2" Class="mt-4" Style="display: flex; justify-content: space-evenly">
    <MudButton 
        Color="Color.Primary" 
        OnClick="Submit"
        Size="Size.Small"
    >Enregistrer</MudButton>
    
    <MudButton
        Color="Color.Secondary"
        OnClick="Cancel"
        Size="Size.Small"
    >Annuler</MudButton>
    
    @if (IsEditMode)
        {
            <MudButton 
                Color="Color.Error" 
                Variant="MudBlazor.Variant.Filled"
                OnClick="Delete"
                Size="Size.Small"
            >Supprimer</MudButton>
        }
</MudStack>