<div style="max-height: calc(100vh - 250px); overflow-y: auto;">
    <table class="mud-table w-full">    
        <tbody>
        @foreach (var hour in Hours)
        {
            <tr style="height: 5rem;">
                <td style="width: 6rem; vertical-align: top;">@hour:00</td>
                <td style="vertical-align: top;">
                    @foreach (var ev in Events.Where(e =>
                                      e.Start.HasValue &&
                                      SelectedDate.HasValue &&
                                      e.Start.Value.Date == SelectedDate.Value.Date &&
                                      e.Start.Value.Hour == hour))
                    {
                        <MudPaper
                            Class="p-2 mb-1 bg-primary text-white rounded"
                            Style="min-width: 12rem; min-height: 3rem;">
                            <b>@ev.Title</b><br />
                            @ev.Start?.ToString("HH:mm") - @ev.End?.ToString("HH:mm")<br />
                            <small>@ev.Location</small>
                        </MudPaper>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
