@page "/dashboard"
@using MaClasse.Client.Components.DashboardContent
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<div>
    Dashboard
    <DashboardContent/>
</div>
