@page "/dashboard"
@using MaClasse.Client.Components.DashboardContent
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>
<h1>Coucou</h1>
<div>
    Dashboard
    <DashboardContent/>
</div>
