@page "/"
@using MaClasse.Client.Components.Auth

<PageTitle>Home</PageTitle>

@if (isCheckingAuth)
{
    <div></div>
}
else
{
    <div style="display: flex;
                justify-content: center;">
        <Auth />
    </div>
}
