.span--flex{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.div--flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div--principal{
    width: 30%;
}

.div--title{
    display: flex;
    justify-content: center;
}