<div class="div--principal">
    <MudDialog>
        <DialogContent>
            <h4 class="title">Merci de vous êtes inscrit sur MaClasse</h4>
            <p>
                Nous avons besoin de quelques informations supplémentaires pour compléter votre profil
            </p>
            <p>Vous êtes inscrit avec le compte Google : <strong>@User.Email</strong></p>
            <p>Vous êtes ?</p>
            <MudForm>
                <MudRadioGroup @bind-Value="roleSelection">
                    <MudRadio Value="@("Professeur(e)")">Professeur(e)</MudRadio>
                    <MudRadio Value="@("Directeur/Directrice")">Directeur/Directrice</MudRadio>
                </MudRadioGroup>
            </MudForm>
            <br/>
            <p>Le rôle de Directeur/Directrice permet de visualiser les tableaux de bord des professeurs qui vous sont rattachés</p>

            <p>Après validation un n° d'idendifiant vous sera attribué pour permettre de vous rattacher à un/une Directeur/Directrice.</p>
            <p>Cet idendifiant est consultable depuis votre Profil.</p>
            <p>Vous pourrez vous rattacher dans votre page de Profil.</p>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@TryValidate" Color="Color.Primary" Variant="Variant.Filled">Valider</MudButton>
        </DialogActions>
    </MudDialog>
</div>