<div class="div--principal">
    <MudCard>
        <img src="Images/LogoMaClasse.png" alt="Logo_MaClasse"/>
        <MudCardContent>
            <div class="div--flex">
                <div class="div--title">
                    <MudText Typo="Typo.h5">@_currentTitle</MudText>
                </div>
                <div>
                    <div id="google-button"></div>
                </div>
                <MudText Class="mt-3">
                    <span class="span--flex">
                        <MudLink OnClick="@OpenDialogTherms">Conditions d'utilisation</MudLink>
                        <MudText>|</MudText>
                        <MudLink OnClick="@OpenDialogTherms">Politique de confidentialité</MudLink>
                    </span>
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</div>