<div style="width: 30%;">
    <MudCard>
        <img src="Images/LogoMaClasse.png" alt="Logo_MaClasse"/>
        <MudCardContent>
            <div style="display: flex;
                        flex-direction: column;
                        gap: 2rem;">
                <div style="display: flex;
                            justify-content: center;">
                    <MudText Typo="Typo.h5">@_currentTitle</MudText>
                </div>
                <div>
                    <div style="display: flex;
                                justify-content: center;"
                         id="google-button"></div>
                </div>
                <MudText Class="mt-3">
                    <span style="display: flex;
                                flex-direction: row;
                                justify-content: center !important;
                                gap: 1rem;">
                        <MudLink OnClick="@OpenDialogTherms">Conditions d'utilisationdsgdfgdfgdfgdfg</MudLink>
                        <MudText>|</MudText>
                        <MudLink OnClick="@OpenDialogPolicy">Politique de confidentialitédfgdfgdfgdfgd</MudLink>
                    </span>
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</div>