<MudDialog>
    <DialogContent>
        <h4>Merci de vous êtes inscris sur MaClasse</h4>
        <p>
            Nous avons de quelques informations supplémentaire pour compléter votre profil
        </p>
        <p>Vous êtes inscrit avec le compte Google : @User.Email</p>
        <p>Vous êtes ?</p>
        <MudForm>
            <MudRadioGroup @bind-Value="roleSelection">
                <MudRadio Value="@("Professeur(e)")">Professeur(e)</MudRadio>
                <MudRadio Value="@("Directeur/Directrice")">Directeur/Directrice</MudRadio>
            </MudRadioGroup>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@TryValidate" Color="Color.Primary" Variant="Variant.Filled">Valider</MudButton>
    </DialogActions>
</MudDialog>