<MudDialog>
    <DialogContent>
        <h4>Merci de vous êtes inscrit sur MaClasse</h4>
        <p>
            Nous avons de quelques informations supplémentaires pour compléter votre profil
        </p>
        <p>Vous êtes ?</p>
       

        <p>Le rôle de Directeur/Directrice permet de visualiser les tableaux de bord des professeurs qui vous sont rattachés</p>

        <p>Après validation un n° d'idendifiant vous sera attribué pour permettre de vous rattacher à un/une Directeur/Directrice.</p>
        <p>Cet idendifiant est consultable dans votre Profil.</p>
        <p>Vous pourrez vous rattacher dans votre page de Profil.</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseTherms" Color="Color.Primary" Variant="Variant.Filled">Fermer</MudButton>
    </DialogActions>
</MudDialog>

